/*
=============== 
Page
===============
*/
.page {
  /* background-color: var(--red-dark); */
  width: 90vw;
  max-width: var(--max-width);
  margin: 0 auto;
  padding-top: 2rem;
  min-height: calc(100vh - (6rem + 4rem));
}

/*
  =============== 
  Footer
  ===============
  */
.page-footer {
  height: 4rem;
  background: var(--black);
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-footer p {
  margin: 0;
}

.footer-logo,
.page-footer a {
  color: var(--primary-400);
}


/*
  =============== 
  Hero
  ===============
  */
.hero {
  height: 40vh;
  background: url('../assets/main.jpeg') center/cover no-repeat;
  margin-bottom: 2rem;
  border-radius: var(--borderRadius);
  position: relative;
}

.hero-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  border-radius: var(--borderRadius);
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-text {
  text-align: center;
  color: var(--white);
}

@media screen and (min-width:768px) {
  .hero-text h1 {
    margin-bottom: 0;
    font-size: 4rem;
  }
}

/*
  =============== 
  Recipes
  ===============
  */
.recipes-container {
  display: grid;
  gap: 2rem 1rem;
}

.tags-container {
  order: 1;
  display: flex;
  flex-direction: column;
  padding-bottom: 3rem;
}

.recipes-list {
  display: grid;
  gap: 2rem 1rem;
  padding-bottom: 3rem;
}

.tags-container h4 {
  margin-bottom: 0.5rem;
  font-weight: 500;
}

.tags-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.tags-list a {
  text-transform: capitalize;
  display: block;
  color: var(--grey-500);
  transition: var(--transition);
}

.tags-list a:hover {
  color: var(--primary-500);
}

.recipe {
  display: block;
}

.recipe-img {
  height: 15rem;
  border-radius: var(--borderRadius);
  margin-bottom: 1rem;
}

.recipe h5 {
  margin-bottom: 0;
  line-height: 1;
  color: var(--grey-700);
}

.recipe p {
  margin-bottom: 0;
  line-height: 1;
  margin-top: 0.5rem;
  color: var(--grey-500);
  letter-spacing: var(--letterSpacing);
}

@media screen and (min-width: 576px) {
  .recipes-list {
    grid-template-columns: 1fr 1fr;
  }

  .recipe-img {
    height: 10rem;
  }
}

@media screen and (min-width: 992px) {
  .recipes-container {
    grid-template-columns: 200px 1fr;
  }

  .recipe p {
    font-size: 0.85rem;
  }

  .tags-container {
    order: 0;
  }

  .tags-list {
    grid-template-columns: 1fr;
  }
}

@media screen and (min-width: 1200px) {
  .recipes-list {
    grid-template-columns: repeat(3, 1fr);
  }

  .recipe h5 {
    font-size: 1.15rem;
  }
}

/*
  =============== 
  Error
  ===============
  */
.error-page {
  text-align: center;
  padding-top: 5rem;
}

.error-page h1 {
  font-size: 9rem;
}

/*
  =============== 
  About
  ===============
  */
.about-page h2 {
  text-transform: none;
  font-weight: bold;
}

.about-page {
  display: grid;
  gap: 2rem 4rem;
  padding-bottom: 3rem;
}

.about-img {
  border-radius: var(--borderRadius);
  height: 300px;
}

.featured-title {
  text-align: center;
}

@media screen and (min-width:992px) {
  .about-page {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 400px;
    align-items: center;
  }

  .about-img {
    height: 100%;
  }
}

/*
  =============== 
  Contact Page
  ===============
  */
.contact-form {
  width: 100%;
  margin: 0;
}

.contact-container {
  display: grid;
  gap: 2rem 3rem;
  padding-bottom: 3rem;
}

@media screen and (min-width:992px) {
  .contact-container {
    grid-template-columns: 1fr 450px;
    align-items: center;
  }
}

/*
  =============== 
  Tags Page
  ===============
  */
.tags-wrapper {
  display: grid;
  gap: 2rem;
  padding-bottom: 3rem;
}

.tag {
  background-color: var(--grey-500);
  border-radius: var(--borderRadius);
  text-align: center;
  color: var(--white);
  transition: var(--transition);
  padding: 0.75rem 0;
}

.tag:hover {
  background: var(--primary-500);
}

.tag h5,
.tag p {
  margin-bottom: 0;
}

.tag h5 {
  font-weight: 600;
}

@media screen and (min-width:576px) {
  .tags-wrapper {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width:992px) {
  .tags-wrapper {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/*
  =============== 
  Single Recipe Page
  ===============
  */
.recipe-hero {
  display: grid;
  gap: 3rem;
}

.recipe-hero img {
  height: 300px;
  border-radius: var(--borderRadius);
}

.recipe-hero p {
  color: var(--grey-600);
}

.recipe-icons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin: 2rem 0;
  text-align: center;
}

.recipe-icons i {
  font-size: 1.5rem;
  color: var(--primary-500);
}

.recipe-icons h5,
.recipe-icons p {
  margin-bottom: 0;
  font-size: 0.85rem;
}

.recipe-icons p {
  color: var(--grey-600);
}

.recipe-tags {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-size: 0.7em;
  font-weight: 600;
}

.recipe-tags a {
  background-color: var(--primary-500);
  border-radius: var(--borderRadius);
  color: var(--white);
  padding: 0.1rem 0.6rem;
  margin: 0 0.25rem;
  text-transform: capitalize;
}

@media screen and (min-width:992px) {
  .recipe-hero {
    grid-template-columns: 4fr 5fr;
    align-items: center;
  }
}


.recipe-content {
  padding: 3rem 0;
  display: grid;
  gap: 2rem 5rem;
}

@media screen and (min-width:992px) {
  .recipe-content {
    grid-template-columns: 2fr 1fr;
  }
}

.single-instruction header {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1.5rem;
  align-items: center;
}

.single-instruction header p {
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 0;
  color: var(--primary-500);
}

.single-instruction>p {
  color: var(--grey-700);
}

.single-instruction header div {
  height: 2px;
  background: var(--grey-300);
}

.second-column {
  display: grid;
  row-gap: 2rem;
}

.single-ingredient {
  border-bottom: 2px solid var(--grey-300);
  padding-bottom: 0.75rem;
  color: var(--grey-700);
  text-transform: capitalize;
}

.single-tool {
  border-bottom: 2px solid var(--grey-300);
  padding-bottom: 0.75rem;
  color: var(--primary-500);
  text-transform: capitalize;
}

/*
  =============== 
  
  ===============
  */